<div
  class="tw-grid tw-grid-cols-2 tw-gap-4 tw-rounded-md tw-bg-gray-200 tw-px-8 tw-py-4 md:tw-py-6 lg:tw-grid-cols-12 lg:tw-pl-10 dark:tw-bg-gray-800"
>
  <p
    class="tw-col-span-full tw-text-center tw-text-2xl tw-font-medium tw-text-sky-600 lg:tw-col-span-3 lg:tw-text-start dark:tw-text-sky-300"
  >
    {{ city().name }}
  </p>

  <div class="tw-flex tw-items-center tw-gap-2 lg:tw-col-span-2 xl:tw-text-lg">
    <fa-icon [icon]="['fas', 'flag']" class="tw-min-w-6 tw-text-gray-400" />
    <span class="tw-whitespace-nowrap tw-font-medium">{{ city().country.name }}</span>
  </div>

  <div class="tw-flex tw-items-center tw-gap-2 lg:tw-col-span-2 xl:tw-text-lg">
    <fa-icon [icon]="['fas', 'globe']" class="tw-min-w-6 tw-text-gray-400" />
    <span class="tw-whitespace-nowrap tw-font-medium">{{ city().country.continent.name }}</span>
  </div>

  <div class="tw-flex tw-items-center tw-gap-2 lg:tw-col-span-2 xl:tw-text-lg">
    <fa-icon [icon]="['fas', 'building-flag']" class="tw-min-w-6 tw-text-gray-400" />
    <span class="tw-whitespace-nowrap tw-font-medium">{{ city().founded }}</span>
  </div>

  <div class="tw-flex tw-items-center tw-gap-2 lg:tw-col-span-2 xl:tw-text-lg">
    <fa-icon [icon]="['fas', 'users']" class="tw-min-w-6 tw-text-gray-400" />
    <span class="tw-whitespace-nowrap tw-font-medium">{{ city().population | number }}</span>
  </div>

  <div class="tw-col-span-full lg:tw-col-span-1 lg:tw-text-end">
    @let _title = state.state() === 'expanded' ? 'Hide details' : 'Show details';
    <button
      class="tw-inline-flex tw-w-full tw-items-center tw-justify-center tw-gap-2 tw-rounded-md tw-bg-gray-300 tw-p-1 tw-text-lg tw-font-medium tw-text-gray-800 hover:tw-bg-gray-400 lg:tw-size-9 dark:tw-bg-gray-700 dark:tw-text-gray-200 dark:hover:tw-bg-gray-600"
      [title]="_title"
      (click)="state.toggle()"
    >
      <fa-icon
        [icon]="['fas', 'chevron-down']"
        class="tw-transition-transform"
        [ngClass]="state.state() === 'expanded' ? 'tw-rotate-180' : ''"
      />
      <span class="lg:tw-hidden">{{ _title }}</span>
    </button>
  </div>
</div>
