<div class="tw-mx-auto tw-max-w-7xl tw-px-2 tw-py-10 md:tw-px-4">
  <div class="tw-mb-10 tw-flex tw-items-center tw-justify-between">
    <h1 class="tw-text-2xl tw-font-bold">City List</h1>

    <button
      class="tw-rounded-md tw-bg-orange-500 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-orange-600"
      (click)="resetData()"
    >
      Reset Data
    </button>
  </div>

  <div class="tw-grid tw-gap-4">
    @for (city of cities.value(); track city.id) {
      <app-city-card [city]="city" />
    }
  </div>
</div>
