<div class="tw-mx-auto tw-max-w-7xl tw-px-2 tw-py-10 md:tw-px-4">
  <div class="tw-mb-10 tw-flex tw-items-center tw-justify-between">
    <h1 class="tw-text-2xl tw-font-bold">City List</h1>

    <button
      class="tw-rounded-md tw-bg-orange-500 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-orange-600"
      (click)="clearData()"
    >
      Clear Data
    </button>
  </div>

  <div class="tw-mb-5 tw-grid tw-gap-4 md:tw-grid-cols-12">
    <div class="md:tw-col-span-4">
      <input
        type="text"
        role="searchbox"
        [(ngModel)]="query"
        [disabled]="disableFilters()"
        placeholder="Search"
        class="tw-w-full tw-rounded-md tw-border tw-border-gray-300 tw-p-2 focus-visible:tw-outline focus-visible:tw-outline-gray-400 disabled:tw-pointer-events-none disabled:tw-opacity-40 dark:tw-border-gray-600 dark:tw-bg-gray-800 dark:tw-text-gray-50"
      />
    </div>

    <div class="md:tw-col-span-5 md:tw-col-start-8 xl:tw-col-span-3 xl:tw-col-start-10">
      <p-select
        [options]="SORT_OPTIONS"
        [(ngModel)]="sortOption"
        [disabled]="disableFilters()"
        [optionLabel]="'name'"
        [optionValue]="'value'"
        [variant]="'filled'"
        placeholder="Select a City"
        [styleClass]="disableFilters() ? ' tw-opacity-40' : ''"
        class="tw-w-full"
        data-testid="sort-select"
      >
        <ng-template #selectedItem let-selectedOption>
          @if (selectedOption) {
            <div class="tw-flex tw-items-center tw-gap-2">
              <fa-icon [icon]="selectedOption.icon" />
              <div>{{ selectedOption.name }}</div>
            </div>
          }
        </ng-template>

        <ng-template #item let-option>
          <div class="tw-flex tw-items-center tw-gap-2">
            <fa-icon [icon]="option.icon" />
            <div>{{ option.name }}</div>
          </div>
        </ng-template>
      </p-select>
    </div>
  </div>

  <div class="tw-grid tw-gap-4">
    <!-- Taking advantage of the fixed cards layout and pre-defined pagination limit - we can estimate the list height -->
    <div class="tw-relative tw-flex tw-min-h-[740px] tw-flex-col tw-gap-4 lg:tw-min-h-80">
      @for (city of cities(); track city.id) {
        <app-city-card [city]="city" />
      } @empty {
        <div class="tw-flex tw-size-full tw-flex-col tw-items-center tw-justify-center tw-gap-4">
          @if (error()) {
            <fa-icon [icon]="['fas', 'exclamation-triangle']" [size]="'2x'" class="tw-text-red-500" />
            <span class="tw-text-lg tw-font-medium tw-text-red-500">Something went wrong</span>
          } @else if (!loading()) {
            <fa-icon [icon]="['fas', 'city']" [size]="'2x'" class="tw-text-gray-400" />
            <span class="tw-text-lg tw-font-medium tw-text-gray-400">No cities found</span>

            <button
              class="tw-min-w-44 tw-rounded-md tw-bg-orange-500 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-orange-600"
              (click)="populateData()"
            >
              Populate Data
            </button>
          }
        </div>
      }

      @if (loading()) {
        <div class="tw-absolute tw-inset-0 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-backdrop-blur">
          <fa-icon
            [icon]="['fas', 'spinner']"
            [size]="'2x'"
            [animation]="'spin'"
            class="tw-text-orange-500"
            data-testid="spinner"
          />
        </div>
      }
    </div>

    <div class="tw-flex tw-items-center tw-justify-end tw-gap-4">
      @if (showPagination()) {
        <button
          class="tw-rounded-md tw-bg-orange-500 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-orange-600"
          title="Previous page"
          [disabled]="!metaPrev()"
          (click)="prevPage()"
        >
          <fa-icon [icon]="['fas', 'chevron-left']" />
        </button>

        <button
          class="tw-rounded-md tw-bg-orange-500 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-orange-600"
          title="Next page"
          [disabled]="!metaNext()"
          (click)="nextPage()"
        >
          <fa-icon [icon]="['fas', 'chevron-right']" />
        </button>
      }
    </div>
  </div>
</div>
