<header
  class="tw-fixed tw-top-0 tw-z-20 tw-h-[var(--header-height)] tw-w-full tw-border-b tw-bg-gray-50 dark:tw-border-gray-600 dark:tw-bg-gray-900"
>
  <div class="tw-mx-auto tw-flex tw-h-full tw-max-w-7xl tw-items-center tw-justify-between tw-px-2 md:tw-px-4">
    <div class="tw-flex tw-items-center tw-gap-2">
      <fa-icon [icon]="['fas', 'city']" />
      <span class="tw-text-lg tw-font-bold tw-italic">City Explorer</span>
    </div>

    <app-theme-select />
  </div>
</header>

<!-- dummy spacer to avoid content being hidden behind the header -->
<div class="tw-h-[var(--header-height)]"></div>
