node_modules
# Keep environment variables out of version control
# For the demo purposes we'll keep it in the repo
# .env

# SQLite database
# For the demo purposes we'll keep it in the repo
# dev.db
